@{
    ViewData["Title"] = "Find A Book";
}
 @*Model.Id*@ 
<h1>All Books</h1>

@foreach (var book in @Model.GetAllBooksWithUser())
{

    <p>------------------------</p>
    <p>Title - @book.Title</p>;
    <p>Author - @book.Author</p>;
    <br />

    @if (book.Available == true)
    {
        <select>
            <option value="Request">Request</option>
            <option value="Name">Name: @book.FullName</option>
            <option value="Email">Email: @book.Email</option>
            <option value="Phone Number">Phone: @book.PhoneNumber</option>
        </select>
    }
    else 
    {
        <p>NOT AVAILABLE</p> 
    }
}
