<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
@{
    ViewData["Title"] = "Find A Book";
}
<br />
<br />


<div id="main">
    @*<div class="row" id="row_1">
            <div class="col-md-4" id="cell_1"></div>
            <div class="col-md-4" id="cell_2"></div>
            <div class="col-md-4" id="cell_3"></div>
        </div>
        <div class="row" id="row_2">
            <div class="col-md-4" id="cell_4"></div>
            <div class="col-md-4" id="cell_5"></div>
            <div class="col-md-4" id="cell_6"></div>
        </div>*@
</div>
@{
    var i = 0;
    var rowNumber = 0;
}

@foreach (var book in @Model.GetAllBooksWithUser())
{

    i = i + 1;
    rowNumber = ((i - 1) / 4) + 1;



    @if (i % 4 == 1)
    {
        <script> $('#main').append('<div class="row" id="row_@rowNumber"></div>');</script>

    }

        <script>
    $('#row_@rowNumber').append('<div class="col-md-3" id="cell_@i">');
    $('#cell_@i').append("<img src='@book.ImageUrl' />");
     $('#row_@rowNumber').append('</div>');


    @*$('#cell_@rowNumber').append("@book.ISBN");*@
    $('#cell_@i').append("<p><b>@book.Title</b></p>");
    $('#cell_@i').append("<em>by @book.Author</em></p>");
  </script>


    @if (book.Available == true)
    {
    <script>$('#cell_@i').append("<select><option value='Request'>Request</option><option value='Name'>Name: @book.FullName</option><option value='Email'>Email: @book.Email</option><option value='Phone Number'>Phone: @book.PhoneNumber</option></select>");</script>
    }
else
{

<script>$('#cell_@i').append('<p>NOT AVAILABLE </ p >')</script>
}





}
