
@{
    ViewData["Title"] = "My Bookshelf";
}
@* Model.UserId *@


<form action="/Home/AddABook">
  <input type="submit" value="Add a Book">
</form>
<h1>Available books</h1>
@if (@Model.NoAvailableBooks)
{
  <p>You currently have 0 available books on your bookshelf</p>
}
else
{
  @foreach (var book in @Model.getAvailableBooks())
  {
      <p>New book - styling must be added</p>
      @book.Title;
      <br />
      @book.Author;
      <br />
      <form action="/Home/RemoveBook" method="post">
      <input type="hidden" name="userid" value="@Model.UserId">
      <input type="hidden" name="id" value="@book.Id">
      <input type="submit" value="Delete Book">
      </form>
      <form action="/Home/ChangeAvailability" method="post">
      <input type="hidden" name="userid" value="@Model.UserId">
      <input type="hidden" name="id" value="@book.Id">
      <input type="hidden" name="availability" value="false">
      <input type="submit" value="Make unavailable">
      </form>

      <br />
  }
}

<h1>Unavailable books</h1>
@if (@Model.NoUnavailableBooks)
{
  <p>You currently have 0 unavailable books on your bookshelf</p>
}
else
{
  @foreach (var book in @Model.getUnavailableBooks())
  {
      <p>New book - styling must be added</p>
      @book.Title;
      <br />
      @book.Author;

      <form action="/Home/RemoveBook" method="post">
        <input type="hidden" name="userid" value="@Model.UserId">
        <input type="hidden" name="id" value="@book.Id">
        <input type="submit" value="Delete Book">
      </form>

      <form action="/Home/ChangeAvailability" method="post">
        <input type="hidden" name="userid" value="@Model.UserId">
        <input type="hidden" name="id" value="@book.Id">
        <input type="hidden" name="availability" value="true">
        <input type="submit" value="Make available">
      </form>

      <br />
  }
}

